<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Configuración
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Nombre de usuario</ion-label>
      <ion-input placeholder="Escribe tu nombre" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Correo electrónico</ion-label>
      <ion-input placeholder="Escribe tu correo" type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Idioma</ion-label>
      <ion-select placeholder="Selecciona un idioma">
        <ion-select-option value="es">Español</ion-select-option>
        <ion-select-option value="en">Inglés</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Notificaciones</ion-label>
      <ion-toggle checked="true"></ion-toggle>
    </ion-item>

    <ion-button expand="full">Guardar Configuraciones</ion-button>
  </ion-list>
</ion-content>
