<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tomar de Fotos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let fotografia of fotoService.foto_tomada; index as position">
        <img [src]="fotografia.webviewPath" />
        <!--<ion-img [src]="foto.webviewPath"></ion-img>-->
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="addNewPhoto()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
